@import url(../vendor/font/manrope.css);

:root {
  --color-var-back-page: #F5F6FF;
  --color-var-back-block: #fff;
  --color-var-btn-primary: #826BDD;
  --color-var-title-primary: #826BDD;
  --color-var-text: #4D4D4D;
  --color-var-light: #757575;
  --color-var-text-white: #fff;
}

body {
  background-color: var(--color-var-back-page);
  font-family: 'Manrope', 'sans-serif';
  margin: 0;
  padding: 0;
  border: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.img-border {
  border: 1px solid var(--color-var-light);
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

a {
  color: var(--color-var-text)
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  font-size: 62px;
  line-height: 1.1;
  font-family: 'Manrope', 'sans-serif';
  font-weight: bold;
  font-style: normal;
  color: var(--color-var-text);
}

h2 {
  font-size: 40px;
  line-height: 1.2;
  font-family: 'Manrope', 'sans-serif';
  font-weight: bold;
  font-style: normal;
  color: var(--color-var-text);
}

h3 {
  font-size: 30px;
  line-height: 1.2;
  font-family: 'Manrope', 'sans-serif';
  font-weight: normal;
  font-style: normal;
  color: var(--color-var-text);
}

h4 {
  font-size: 16px;
  line-height: 1.2;
  font-family: 'Manrope', 'sans-serif';
  font-weight: 500;
  font-style: normal;
  color: var(--color-var-text);
}

.title-color {
  color: var(--color-var-back-block);
}

.text-1 {
  font-size: 20px;
  line-height: 1.3;
  color: var(--color-var-text);
  font-weight: bold;
}

.text-2 {
  font-size: 18px;
  line-height: 1.3;
  color: var(--color-var-text);
  font-weight: normal;
}

.text-3 {
  font-size: 14px;
  line-height: 1.3;
  color: var(--color-var-text);
  font-weight: normal;
}

.text-4 {
  font-size: 12px;
  line-height: 1.3;
  color: var(--color-var-text);
  font-weight: normal;
}

.span {
  color: var(--color-var-title-primary);
}

.back-white{
  background-color: var(--color-var-back-block);
  padding: 45px;
}

.button {
  border: none;
  background-color: var(--color-var-btn-primary);
  padding: 15px 35px;
  font-size: 14px;
  color: white;
  line-height: 1;
  height: 50px;
  transition: all .2s;
  border-radius: 50px;
}

.button:hover {
  background-color: transparent;
  border: 1px solid var(--color-var-btn-primary);
  color: var(--color-var-btn-primary);
}

.button-out {
  background-color: transparent;
  color: var(--color-var-btn-primary);
  border: 1px solid var(--color-var-btn-primary);
  padding: 10px 20px;
  height: 45px;
  font-size: 14px;
  transition: all .2s;
  border-radius: 50px;
}

.button-out:hover {
  background-color: var(--color-var-btn-primary);
  color: white;
}

.navbar-btns {
  gap: 20px;
}

.btn-item {
  background-color: var(--color-var-btn-primary);
  display: flex;
  gap: 5px;
  align-items: center;
  border-radius: 300px;
  padding: 5px 10px;
}

.btn-counter {
  background-color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 1px;
  font-weight: 600;
}

.btn-counter p {
  margin-bottom: 0;
  font-size: 12px;
  color: var(--color-var-title-primary);
}

.container-card {
  background-color: var(--color-var-back-block);
  padding: 25px 20px;
  border-radius: 20px;
}

.card-advant {
  background-color: #CDC2EC;
  display: flex;
  padding: 60px 100px;
  border-radius: 30px;
  height: 400px;
  justify-content: space-between;
}

.card-advant:nth-last-of-type(2) {
  background-color: #C2DDEC;
}

.card-advant:last-child {
  background-color: #D2ECC2;
}

.card-advant p {
  width: 630px;
}

.img-product {
  max-width: 120px;
  max-height: 250px;
}

.card-using {
  padding: 45px;
  background-color: #C2DDEC;
  border-radius: 30px;
  max-width: 462px;
  max-height: 265px;
  margin-bottom: 30px;
}

.card-using:last-child {
  background-color: #D2ECC2;
}

.card-using p {
  margin-top: 90px;
}

.result-card {
  background-color: var(--color-var-back-block);
  border-radius: 30px;
  padding: 50px 30px;
  height: 350px;
}

.result-card h4 {
  color: var(--color-var-title-primary);
}

.col-lg-4:nth-child(2) .result-card {
  background-color: #CDC2EC;
  background-image: url('../img/abstract-wave.png');
  background-repeat: no-repeat;
  background-size: 275px 215px;
  background-position: right bottom;
}

.col-lg-4:nth-child(2) .result-card h4 {
  color: var(--color-var-text);
}

.col-lg-4:nth-child(2) .result-card p {
  color: var(--color-var-text);
}

.develop-card {
  background-color: var(--color-var-back-block);
  padding: 35px;
  border-radius: 30px;
}

.develop-card img {
  max-width: 180px;
  margin-right: 20px;
}

.card-new {
  background-color: var(--color-var-back-block);
  padding: 30px;
  border-radius: 30px;
}

.rewiew-card {
  background-color: var(--color-var-back-block);
  padding: 35px;
  border-radius: 30px;
}

.rewiew-card img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 20px;
}

/* CATALOG */
.breadcrumbs {
  background-color: #CDC2EC;
  background-image: url('../../img/back-breadcumps.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  height: 300px;
  padding: 60px;
  position: relative;
}

.breadcrumbs img {
  border-radius: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.input-group-text {
  border: 1px solid var(--color-var-btn-primary);
  background-color: transparent;
  border-radius: 200px;
  border-right: none;
}

.input-group input::placeholder {
  color: var(--color-var-title-primary);
}

.form-control {
  border: 1px solid var(--color-var-btn-primary);
  background-color: transparent;
  border-radius: 200px;
  border-left: none;
}

.filters {
  gap: 20px;
}

.dropdown {
  border: 1px solid var(--color-var-btn-primary);
  border-radius: 200px;
}

.button-dropdown {
  color: var(--color-var-title-primary);
  font-size: 14px;
}

/* ACCORDEON */

.accordion__item {
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  color: var(--color-var-text);
  font-weight: 500;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
  border: 1px solid var(--color-var-light);
  border-radius: 20px;
}

.accordion__arrow {
  width: 1.25rem;
  height: 25px;
  margin-right: 10px;
}

.accordion__arrow.arrow-active {
  transform: rotate(-90deg);
}

.accordion__item_show .accordion__header::after {
  transform: rotate(-90deg);
}

.accordion__item_show .accordion__header {
  border-bottom: 0;
  border-radius: 20px 20px 0 0;
}

.accordion__header:hover {
  background-color: transparent;
}

.accordion__body {
  padding: 25px;
  padding-top: 0;
  overflow: hidden;
  border: 1px solid var(--color-var-light);
  border-top: 0;
  border-radius: 0 0 20px 20px;
}

.accordion__item:not(.accordion__item_show) .accordion__body {
  display: none;
}

.contact {
  background-color: var(--color-var-back-block);
  padding: 50px;
  border-radius: 30px;
}

.form-contact {
  margin: 0 auto;
  text-align: center;
}

.back-img {
  background-image: url('../img/Icon/wave-form.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.form-check-label {
  text-align: start !important;
}

.footer {
  background-color: var(--color-var-back-block);
  padding-top: 40px;
}

.footer-doc {
  gap: 20px;
}